{% extends 'template/frontend.html.twig' %}

{% block title %}Restringido{% endblock %}

{% block body %}
<h1>Acceso restringido</h1>
<p>Nombre: {{app.user.nombre}}</p>
<p>E-Mail: {{app.user.email}}</p>
<p>Roles: {{app.user.getRoles()[0]}}</p>
<p>Sessiones: {{app.session.get('perfil_nombre')}} | {{app.session.get('perfil_id')}} | {{app.session.get('tienda_id')}} | {{app.session.get('tienda_nombre')}}</p>
{% endblock %}
