{% extends 'template/frontend.html.twig' %}

{% block title %}Formularios{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{path('home_inicio')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{path('formularios_inicio')}}">Formularios</a></li>
    <li class="breadcrumb-item active" aria-current="page">Formularios TypeForm</li>
  </ol>
</nav>
<h1>Formulario TypeForm</h1>
{% for message in app.flashes('mensaje')%}
	<div class="alert alert-{{ app.flashes('css')[0] }} alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dissmiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
<form method="POST" action="{{url('formularios_type_form')}}">
	<div class="form-group">
		<label for="form_nombre">Nombre:</label>
		{{ form_widget(formulario.nombre, {"required": false, "attr":{"placeholder":"Nombre"}}) }}
	</div>
	<div class="form-group">
		<label for="form_correo">E-Mail:</label>
		{{ form_widget(formulario.correo, {"required": false, "attr":{"placeholder":"E-Mail"}}) }}
	</div>
	<div class="form-group">
		<label for="form_telefono">Telefono:</label>
		{{ form_widget(formulario.telefono, {"required": false, "attr":{"placeholder":"Telefono"}}) }}
	</div>
	<div class="form-group">
		<label for="form_pais">País:</label>
		{{ form_widget(formulario.pais, {"required": false}) }}
	</div>
	<hr/>
	<input type="hidden" name="token" value="{{csrf_token('generico')}}"/>
	<button type="submit" title="Enviar" class="btn btn-primary"><i class="fas fa-check"></i> Enviar</button>
</form>
{% endblock %}