{% extends 'template/frontend.html.twig' %}

{% block title %}Utilidades{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{path('home_inicio')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{path('utilidades_inicio')}}">Utilidades</a></li>
	<li class="breadcrumb-item"><a href="{{path('utilidades_api_rest')}}">Consumir API Rest con HTTP Client</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar</li>
  </ol>
</nav>
<h1>Editar</h1>
<div class="row">
	<form action="{{ url('utilidades_api_rest_editar',{'id': datos.toArray().id})}}" method="post">
		{% for message in app.flashes('mensaje') %}
			<div class="alert alert-{{ app.flashes('css')[0] }} alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dissmiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div class="form-group">
			<label for="persona_entity_form_nombre">Nombre:</label>
			{{ form_widget(formulario.nombre, {"required": false, "attr":{"placeholder":"Nombre", value: datos.toArray.nombre}}) }}
		</div>
		<hr/>
		<input type="hidden" name="token" value="{{csrf_token('generico')}}"/>
		<input type="submit" value="Enviar" class="btn btn-primary"/>
	</form>
</div>

{% endblock %}
